.container {
    font-family: arial;
    font-size: 24px;
    width: 370px;
    height: 200px;
}

.cancel-btn {
    text-align: end;
}
  
body {
    background: #32383e;
    overflow-y: hidden;
    overflow-x: hidden;
}

button {
    height: 50;
    width: 125;
}

p {
    text-align: center;
    color: #fff;;
}
